<%- include('../layouts/header.ejs') %>
<% if(typeof user !== "undefined"){ %>
	<%- include('userLogged') %>

<% }else{ %>
	<%- include('noUser') %>
	<% } %>
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<% if (cartItems.length > 0) { %>
							<thead class="cart-table-head">	
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody id="tablebody" data-cartitems="<%= JSON.stringify(cartItems) %>">
																
								<% for( let i = 0; i < cartItems.length; i++ ) { %>
								<tr class="table-body-row " value="<%= user %>">
									<td class="product-remove" onclick="deleteCart('<%= user %>' ,' <%=cartItems[i]._id %>' , '<%=cartItems[i].ProductId._id%>')" id="deleteItem" ><i  class="far fa-window-close"></i></td>
									<td class="product-image"><img src="/images/<%= cartItems[i].ProductId.ProductImage[0] %>" alt=""></td>
									<td class="product-name"><%= cartItems[i].ProductId.ProductName %></td>
									<td class="product-price"><%= cartItems[i].ProductId.Price %></td>
									<td class="product-quantity" ><input class="product-quantity-input" name="quantity" id="quantityInput<%= i %>" data-index="<%= i %>" data-product-id="<%= cartItems[i].ProductId._id %>" type="number" placeholder="<%= cartItems[i].Quantity %>" min="1" max="<%= cartItems[i].ProductId.Quantity %>" onchange="updateCart(event)"  oninput="validateQuantity(this)" ></td>
									<td class="product-total " id="total<%= i %>"><%= cartItems[i].Total%></td>
									<%if(cartItems[i].ProductId.Quantity === 0 ){%>
										<h6 class="mb-0" style="color:red">Out of stock</h6>
									  <%}%>
								</tr>
								<% } %>								
							</tbody>
							<% }else{ %>
								
								<img src="/img/cart.webp" alt="" style="width: 40vw; height: 35vh;"> 
								<span> Cart Empty</span>
                              <%}%>
						</table>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody id="totaTable">
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td id="allTotal">Rs.<%= subTotal %></td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>Free Shipping</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td id="getFull">Rs.<%= Total %></td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<% if (!Total) { %>
								<a href="/Checkout?id=<%= user %>" class="boxed-btn black" hidden>Check Out</a>

							<% } else{%>
							<!-- <a  class="boxed-btn updateCart">Update Cart</a> -->
							<a href="/Checkout?id=<%= user %>" class="boxed-btn black">Check Out</a>
							<% } %>
						</div>
					</div>

					<!-- <div class="coupon-section">
						<h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							<form action="index.html">
								<p><input type="text" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply"></p>
							</form>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="">About</a></li>
							<li><a href="/shop">Shop</a></li>
							<li><a href="">News</a></li>
							<li><a href="">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/js/sticker.js"></script>
	<!-- main js -->
	<script src="/js/main.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script>
		// const deleteCart = document.getElementById('deleteItem')
		
			function validateQuantity(input) {
				let value = parseInt(input.value);
				let min = parseInt(input.min);
				let max = parseInt(input.max);

				if (value < min) {
					input.value = min; 
				} else if (value > max) {
					input.value = max; 
				}
			}

			function updateCart(event) {
				const itemQuantity = event.target;
				const j = parseInt(itemQuantity.getAttribute('data-index'));
				console.log('    ',j);
				const productId = itemQuantity.getAttribute('data-product-id');
				const userId = document.querySelector('.table-body-row').getAttribute('value');
				console.log(userId);
				const quantity = parseInt(itemQuantity.value) || 1;
				const rowIndex = itemQuantity.getAttribute('data-index');
				console.log(quantity, ' dgsdgsd ', productId);

				fetch('/updateCart', {
					method: 'POST',
					headers: {
					'Content-Type': 'application/json'
					},
					body: JSON.stringify({
					quantity,
					userId,
					productId
					})
				}).then(result=>result.json())
				 .then(response => {
						if (response) {
							console.log('Cart item updated successfully');
							let allTotal = 0;
							const cartItems = response;
							console.log(response)
							cartItems.forEach((item,i) => {
							allTotal += item.Total
							const totalPrice =item.Total;
							const totalFields = document.getElementById('total'+i);
							totalFields.textContent =totalPrice;
							})
							
							const allTotalElement = document.getElementById('allTotal');
							const GetTotalElement = document.getElementById('getFull');
							GetTotalElement.textContent = allTotal;
							allTotalElement.textContent = allTotal;
							console.log(allTotal);
							
						} else {
							throw new Error('Error updating cart item');
						}
					})
					.catch(error => {
						console.error('Error updating cart item:', error);
					});
			}

		// 	const tableBody = document.getElementById('tablebody');
		// 	const cartItems = JSON.parse(tableBody.getAttribute('data-cartitems'));
		// 	console.log(cartItems);
		// 	function updateProductTotal(cartItems){
		// 		cartItems.forEach((cartItem,i)=>{
		// 		const quantityInput= document.getElementById(`quantityInput${i}`);
		// 		const total = document.getElementById(`total${i}`);

		// 		quantityInput.addEventListener('change',()=>{
		// 			const enteredQauntity = parseInt(quantityInput.value);
		// 			const Price = parseInt(cartItem.ProductId.Price);
		// 			const TotalPrice = parseInt(enteredQauntity*Price);
		// 			total.textContent=TotalPrice;
		// 			// updateCart();
		// 		});
				
		// 	})
		// 	// updateCart();
		// 	}
		// updateProductTotal(cartItems);

		function deleteCart(user,cartId,productId){
			console.log(user ,' + ',cartId,' =' ,productId);
			fetch('/delete-cartItem',{
				method:'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ id: user ,cartId:cartId,productId:productId})
			})
			.then(response=>response.json())
			.then(result=>{
				const table = document.getElementById('tablebody');
				table.innerHTML ='';
				const cartItems = result.cartItems
				let allTotal =result.allTotal;
				cartItems.forEach((cartItem,i) => {
					
					const row = document.createElement('tr');
					row.className ='table-body-row'
					row.setAttribute('value', cartItem.UserId);


					const removeCart = document.createElement('td');
					removeCart.className = 'product-remove';
					removeCart.onclick = ()=>deleteCart(cartItem.UserId, cartItem._id, cartItem.ProductId._id);
					removeCart.innerHTML = '<i class="far fa-window-close"></i>';
					row.appendChild(removeCart);
					
					
					const imageCell = document.createElement('td');
					imageCell.className = 'product-image';
					const image = document.createElement('img');
					image.src ='/images/'+cartItem.ProductId.ProductImage[0]
					image.alt='';
					imageCell.appendChild(image);
					row.appendChild(imageCell);

					const nameCell = document.createElement('td');
					nameCell.className = 'product-name';
					nameCell.textContent =cartItem.ProductId.ProductName;
					row.appendChild(nameCell);

					const priceCell = document.createElement('td');
					priceCell.className = 'product-price';
					priceCell.textContent = cartItem.ProductId.Price;
					console.log(priceCell.textContent,'thisdnfsdfs');
					row.appendChild(priceCell);
					
					const quantity =document.createElement('td');
					quantity.className = 'product-quantity';
					const quantityInput = document.createElement('input');
        			quantityInput.type = 'number';
					quantityInput.className =
					quantityInput.max = cartItem.ProductId.Quantity;
					quantityInput.min = 1;
					quantityInput.placeholder = cartItem.Quantity;
					quantityInput.setAttribute('data-index', i)
					quantityInput.setAttribute('data-product-id', cartItem.ProductId._id);
					let totaField=priceCell.textContent;
					let total = document.createElement('td');
					quantityInput.addEventListener('change',(event)=>{

						total.className='product-total';
						total.id ='total'+i
						console.log(totaField);
						row.appendChild(total);
						updateCart(event);
					})
					quantity.appendChild(quantityInput);
					row.appendChild(quantity)
					
					let allTotal = 0;
					const totalFields = document.getElementsByClassName('product-total');
					console.log(totalFields.length,'this si toatl field',totalFields);
					for (let i = 0; i < totalFields.length; i++) {
						const totalValue = parseInt(totalFields[i].textContent);
						if (!isNaN(totalValue)) {
							allTotal += totalValue;
						}
					}
					console.log(allTotal);
					

					const allTotalElement = document.getElementById('allTotal');
					const GetTotalElement = document.getElementById('getFull');
					allTotalElement.textContent = 'Rs. ' + allTotal;
					GetTotalElement.textContent = 'Rs. ' + allTotal;

					total.className='product-total';
					total.id =`total$(i)`
					console.log(totaField);
					total.textContent = cartItem.Total;
					row.appendChild(total);
					table.appendChild(row);
					allTotal += cartItem.Total;
				});
					const quantityInputs = document.getElementsByClassName('product-quantity-input');
					for (let i = 0; i < quantityInputs.length; i++) {
					quantityInputs[i].setAttribute('data-index', i);
					}
					const allTotalElement = document.getElementById('allTotal');
					const GetTotalElement = document.getElementById('getFull');
					allTotalElement.textContent = 'Rs. ' + allTotal;
					GetTotalElement.textContent = 'Rs. ' + allTotal;
			})
			.catch((error)=>{
				console.log('fetching delete error ',error);
			})
		};

	</script>

<%- include('../layouts/footer.ejs') %>
<!-- <tbody id="totaTable">
	<tr class="total-data">
		<td><strong>Subtotal: </strong></td>
		<td id="cartTotal">Rs.<%= Total %></td>
	</tr>
	<tr class="total-data">
		<td><strong>Shipping: </strong></td>
		<td>Free Shipping</td>
	</tr>
	<tr class="total-data">
		<td><strong>Total: </strong></td>
		<td id="getFull">Rs.<%= Total %></td>
	</tr>
</tbody>
</table> -->