<%- include('../layouts/header.ejs') %>
<% if(typeof user !== "undefined"){ %>
	<%- include('userLogged') %>

<% }else{ %>
	<%- include('noUser') %>
	<% } %>
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Orders</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class="container ">
  <div class="row mt-4">
    <div class="col-lg-12 text-center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Orders</h4>
          <p class="card-description"> View your Orders
          </p>
          <table class="table">
            <thead>
              <% if (Orders.length > 0 ) { %>
              <tr>
                <th>Order Id</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              
               <% for( let i = 0; i < Orders.length; i++ ) { %>
               
              
              
              <tr>
                <td><%= Orders[i].orderId %></td>
                <td><%= Orders[i].date.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric'}) %></td>
                <td><%= Orders[i].total %></td>
                <% if (Orders[i].status=='processing') { %>
                  <td><label class="badge badge-primary">Order Processing</label></td>
                <% }else if (Orders[i].status ==='cancelled'){ %>
                  <td><label class="badge badge-danger">Cancelled</label></td>
                <% }else if (Orders[i].status ==='Shipped'){ %>
                  <td><label class="badge badge-success">Shipped for Delivery</label></td>
                  <% }else if(Orders[i].status==='Delivered') {%>
                    <td><label class="badge badge-success">Delivered</label></td>
                    <% }else if(Orders[i].status==='Returned') {%>
                      <td><label class="badge badge-success">Returned</label></td>
                      <% } %> 
                <td><a href="/viewOrder?id=<%= Orders[i]._id %>">view</a></td>
              </tr>


  
                <% } %>
                <% } else{%>
                  <h2> No Orders Found</h2>
                  <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="footer-box about-widget">
                  <h2 class="widget-title">About us</h2>
                  <p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="footer-box get-in-touch">
                  <h2 class="widget-title">Get in Touch</h2>
                  <ul>
                      <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
                      <li>support@fruitkha.com</li>
                      <li>+00 111 222 3333</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="footer-box pages">
                  <h2 class="widget-title">Pages</h2>
                  <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about.html">About</a></li>
                      <li><a href="services.html">Shop</a></li>
                      <li><a href="news.html">News</a></li>
                      <li><a href="contact.html">Contact</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="footer-box subscribe">
                  <h2 class="widget-title">Subscribe</h2>
                  <p>Subscribe to our mailing list to get the latest updates.</p>
                  <form action="index.html">
                      <input type="email" placeholder="Email">
                      <button type="submit"><i class="fas fa-paper-plane"></i></button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
                  Distributed By - <a href="https://themewagon.com/">Themewagon</a>
              </p>
          </div>
          <div class="col-lg-6 text-right col-md-12">
              <div class="social-icons">
                  <ul>
                      <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                      <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
      <%- include('../layouts/footer.ejs') %>