<%- include('../layouts/header.ejs') %>
<% if(typeof user !== "undefined"){ %>
	<%- include('userLogged') %>

<% }else{ %>
	<%- include('noUser') %>
	<% } %>
	<style>
		.product-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		}
		
		.popup {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		}

		.popup-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		padding: 20px;
		}

		.popup-content h2 {
		margin-top: 0;
		}

		.popup-content button {
		margin-top: 10px;
		}

	</style>
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
							<!-- removed active class -->
							<li  value="All" class="categoryId" data-filter=".strawberry">All</li>
							<% for( let i = 0; i < categoryList.length; i++ ) { %>
							
                            <li data-filter=".strawberry" value="<%= categoryList[i]._id %>" class="categoryId" id="category"> <%= categoryList[i].categoryName %> </li>
							<% } %>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="row product-lists">
				<% if (Product.length>0) { %>
					<% for( let i = 0; i < Product.length; i++ ) { %>
						<% if (Product.length<2) { %>
							<div class="col-lg-6 col-md-6 text-center ">					
						
								<div class="single-product-item ">
								 
								 <div class="product-image" >
									<a href="/single-product?id=<%= Product[i]._id %>">
									<img class="img-fit escape" src="/images/<%= Product[i].ProductImage[2] %>" alt="">
									
								
									<h3><%= Product[i].ProductName %></h3>
									<p class="product-price"><span>Per Kg</span> <%= Product[i].Price %>INR </p>
									</a>
								</div>
									<a href="" value="<%= Product[i]._id %> <% user?user:'' %>" class="cart-btn addToCart"><i class="fas fa-shopping-cart"></i> Add to Cart</a>

							 	</div>
						 	</div>
							<% } else{%>
						<div class="col-lg-4 col-md-6 text-center ">					
						
					   <div class="single-product-item ">
						
						<div class="product-image">
							<a href="/single-product?id=<%= `${Product[i]._id}` %>">
								<!-- <script> console.log(`${Product[i].ProductName}`); </script> -->
								<img class="img-fluid" src="/images/<%= Product[i].ProductImage[1] %>" alt="">
							</a>				
						</div>
						<h3 class="product-name"><%= Product[i].ProductName %></h3>
						<p class="product-price"><span>Per Kg</span> Rs. <%= Product[i].Price %> </p>
						<a  value=<%=` ${Product[i]._id}${user ? `,${user._id}` : ''} `%> class="cart-btn addToCart"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					    <!-- <p class="text-success d-none" id="Added" > Item Added to Cart </p>
						<p class=" text-danger d-none" id="Failed"> Please Login to Add to Cart  </p> -->
					</div>
				</div>
				<% } %>
				<% } %>
				<% } else {%>
					<div>No Products Found</div>
					<% } %>
			</div>
			
			
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="pagination-wrap">
				<ul>					
						<% if ( currentPage > 1 ) { %>
						 
						
					<li><a href="/shop/?page=<%= currentPage - 1 %>">Previous</a></li>
					<% } %>
					<% for( let i = startPage; i <= endPage; i++ ) { %>
					<li><a class="<% currentPage === i ? 'active':'' %>" href= " /shop?page=<%= i %>" > <%= i %></a></li>
					<% } %>
					<% if ( currentPage < totalPages ) { %>					 
					<li><a href="/shop/?page=<%= currentPage+1 %>">Next</a></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
	<!-- end products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	<button id="openPopupBtn">Open Popup</button>

		<div id="popup" class="popup">
		<div class="popup-content">
			<h2>Popup Content</h2>
			<p>This is the content of the popup.</p>
			<button id="closePopupBtn">Close</button>
		</div>
		</div>

	<!-- jquery -->
	<script src="/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/js/sticker.js"></script>
	<!-- main js -->
	<script src="/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		const category =document.querySelectorAll('li.categoryId')

		category.forEach(element=>{
			element.addEventListener('click',function(){
				const categoryValue = element.getAttribute('value');
				const url = `/shop/?category=${categoryValue}`
				window.location.href=url;  
			})
		})

		const cart = document.querySelectorAll('.addToCart');

			cart.forEach(event => {
			event.addEventListener('click', function() {
				const id = event.getAttribute('value');
				const array = id.split(',');
				console.log(id,' this is id total ' ,array,'  array' );
				const productId = array[0];
				const user = array[1];
				console.log(user);

				fetch('/add-to-cart', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ id: productId, user: user })
				})
				.then(response => response.json())
				.then(added => {
					const success = document.getElementById('Added');
					const error = document.getElementById('Failed');

					if (added) {
						Swal.fire({
						title: " Item Added!",
						text: "Product added to cart successfully!",
						icon: "success",
						buttonsStyling: false,
						confirmButtonText: "OK",
						customClass: {
						confirmButton: "btn btn-primary"
						}
					});
					} else {
						Swal.fire({
						title: "Failed!",
						text: "Please Login/ SignUp To add to cart!",
						icon: "error",
						buttonsStyling: false,
						confirmButtonText: "OK",
						customClass: {
						confirmButton: "btn btn-primary"
						}
					});
					}
				});
			});
			});

	</script>

	<%- include('../layouts/footer.ejs') %>