<%- include('../layouts/adminHeader.ejs') %>
<div class="main-panel">
    <div class="content-wrapper">
    <div class="col-lg-10 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Coupons</h4>
            <p class="card-description">  <code></code>
            </p>
            <a type="button" href="/admin/addCoupon" class="btn btn-outline-success btn-fw">Add new Coupon</a>
            <p></p>
             <%  
                    if(typeof message !=='undefined'){
                        %>
                            <p style="color:red;"><%= message %></p>
                    
                        <%
                    
                    }
                    
                    %> 
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> # </th>
                  <th> Coupon Code </th>
                  <th> Off % </th> 
                  <th> Expiry </th> 
                  <th> Status </th>            
                </tr>
              </thead>
              <tbody>
                <% if (coupon.length > 0) { %>
                    <% for( let i = 0; i < coupon.length; i++ ) { %>                             
                <tr>
                  <td> <%= i+1 %> </td>              
                  <td class="py-1"><%= coupon[i].code %></td>
                  <td> <%= coupon[i].percentage %> % </td>              
                  <td> <%= coupon[i].date %> </td>
                  <td> <%= coupon[i].status %> </td>
                </tr>
                  <% } %>
                  <% }else{ %>  
                    <tr>
                        <td colspan="5"> No Coupon found</td>
    
                    </tr>
                   <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      </div>
    
    <%- include('../layouts/adminFooter.ejs') %>
    