<%- include('../layouts/adminHeader.ejs') %>
<style>
 
</style>
<div class="main-panel">
<div class="content-wrapper">
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <h4 class="p-5 card-title">Products Of FRUITKHA</h4>
        <a type="button" href="/admin/addOffer" class="btn  btn-gradient-success btn-fw">Add Offer</a>
        <p></p>
        <%  
        if(typeof message !=='undefined'){
          %>
              <p style="color:green;"><%= message %></p>        
          <%
       }
       %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Seriel No</th>
              <th> Product Name </th>
              <th> Discount % </th>
              <th> Price </th>
            </tr>
          </thead>
          <tbody>
              <% if (offer.length>0) { %>
                <% for( let i = 0; i < offer.length; i++ ) { %>
            <tr> 
                <td> <%= i+1 %> </td>
                <td> <%= offer[i].ProductName %> </td> 
                <% if (offer[i].Offer) { %>
                    <td><%= offer[i].Offer %>%</td>
                <% }else{ %>         
                    <td><%= offer[i].CategoryOffer %>%</td>
                <% } %>
                <td> <%= offer[i].Price %> </td>
              <!-- <td> 
                <a type="button" href="/admin/editProduct?id=<%= offer[i]._id %>"  class="btn btn-inverse-primary btn-rounded btn-sm">Edit</button>
                  <a href="#" type="button" data-bs-target="#unblockBut" data-bs-toggle="modal" onclick="openDeleteModal('<%= offer[i]._id %>')" class="btn btn-inverse-danger btn-rounded btn-sm">Delete</a>
                </td> -->
            </tr>
                <% } %>
              <% }else{ %>
                <tr>
                  <td colspan="5"> No Offers found</td>
              </tr>
             <% } %>
          </tbody>
        </table>
      </div>
      </div>
      </div>
      <!-- <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination">

              <li class="page-item">
" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

            

</a></li>

            

              <li class="page-item">
" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>

            
            
            
          </ul>
        </nav>
        </div> -->
      </div>
      </div>
      <script>
  // Function to open the modal and set the ID value
  
  function openDeleteModal(idOfProduct) {
    // Set the value of the hidden input field
    document.getElementById('deleteID').value = idOfProduct;
    
    // Open the modal
    // const modal = new bootstrap.Modal(document.getElementById('unblockBut'));
    // modal.show();
  }
  function deleteProduct() {
      const url = '/admin/deleteProduct'; 
      const id=document.getElementById('deleteID').value;
      fetch(url, {
        method: 'POST',
        body: JSON.stringify({ id: id }),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => {
        $('#unblockBut').modal('hide')
        console.log(response+"this is response")
      })
      .then(data => {
        location.reload()
      })
      .catch(error => {
        console.log(error);
      });
  };    
  </script>

  <%- include('../layouts/adminFooter.ejs') %>
  <div class="modal fade" id="unblockBut" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to Delete this Product?
        <input type="hidden" id="deleteID">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-danger mt-1 mb-1" onclick="return deleteProduct()" id="unblock-Button">Delete</button>
